.directory
.dub
docs.json
dub.selections.json
dnes
__dummy.html
*.o
*.obj
.*.swo
.*.swp
*.a
*.so
*.lib
*.dll
__test__library__*
dnes.sln
*.exe
dnes.visualdproj
dnes.v12.suo
dnes_d.exe_cv
*.pdb
*.lst
*.tlog
Debug/dNES.lnkdep
*.exe_cv
Debug/dNES.build
*.cmd
Debug/dNES.build.lnkarg
*.map
Debug/dNES.json
Debug/dNES.buildlog.html
Debug/dNES.dep
libdnes/reference/perfect6502/measure
*.gcda
*.gcno
